.about{
    background: var(--secondary-bg);
    background-image: url("/images/about-background-mob.png");
    background-repeat: no-repeat;
    background-position: right 0px bottom 61px;
    background-size: contain;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: 1279px) {background-image: none;}

    @media screen and (min-width: 1280px) {
        background-image: url("/images/about-background.png");
        background-position: right 0px top 342px;
    }
}

    @media screen and (max-width: 767px) {
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {.about {background-image: url("/images/about-background-mob-2x.png");}}
    }

    @media screen and (min-width: 1280px) {
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {.about {background-image: url("/images/about-background-2x.png");}}
    }

.about__container {
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) {width: 320px;};

    @media screen and (min-width: 480px) {width: 480px;};

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 20px 34px 80px 32px;
    };

    @media screen and (min-width: 1280px) {
        width: 1280px;
        padding: 60px 14px 120px 14px;
    };
}

.about__label {
    color: var(--accent-text);
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    margin-left: 38px;
    text-align: center;
 
    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
        margin-left: 0px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.about__title {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 32px;
    margin-left: 36px;

    text-transform: uppercase;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;

    color: var(--primary-accent);

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.15;

        margin-bottom: 40px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.2;
        letter-spacing: 0.06em;

        margin-bottom: 60px;
      }
}

.about__case{
    @media screen and (min-width: 768px) {display: flex;}
}

.about__box {
    text-align: start;
    width: 220px;
    margin-top: 40px;

    @media screen and (min-width: 768px) {
        width: 340px;
        margin-left: 17px;
        margin-top: 50px;
    }

    @media screen and (min-width: 1280px) {
        width: 463px;
        margin-left: 139px;
        margin-top: 91px;
    }
}

.about__paragraph {
    margin: 0; 
    color: var(--secondary-accent-text);

    font-size: 12px;
    line-height: 1.62;

    @media screen and (min-width: 768px) {font-size: 14px;}

    @media screen and (min-width: 1280px) {font-size: 16px;}
}

.about__paragraph--style{
    color: var(--primary-text); 
    margin-top: 40px;

    @media screen and (min-width: 1280px) {margin-top: 32px;}
}


/*Btn*/
.about__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 176px;
    height: 44px;
    border-radius: 22px;
    border: hidden;
    background: var(--primary-bg);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: var(--primary-accent);

    margin-top: 35px;

    &:hover, &:focus{background-color: var(--btn-bg);}
    
    @media screen and (min-width: 768px) {
        margin-top: 62px;
        font-size: 16px;
    }

    @media screen and (min-width: 1280px) {margin-top: 45px;}
}

.about__btn .btn__icon {
    margin-left: 14px;
    fill: var(--primary-accent);
}