.contacts {
  background-image: linear-gradient(
    to bottom,
    var(--primary-bg) 327px,
    var(--secondary-bg) 327px,
    var(--secondary-bg)
  );

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      var(--primary-bg) 126px,
      var(--secondary-bg) 126px,
      var(--secondary-bg)
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/contacts-background.png'),
      linear-gradient(
        to bottom,
        var(--primary-bg) 101px,
        var(--secondary-bg) 101px,
        var(--secondary-bg)
      );
    background-repeat: no-repeat;
    background-size: contain, auto;
    background-position: top 141px left 50%, top left;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/contacts-background-2x.png'),
        linear-gradient(
          to bottom,
          var(--primary-bg) 101px,
          var(--secondary-bg) 101px,
          var(--secondary-bg)
        );
    }
  }
}

.contacts__container {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-right: 18px;
    padding-left: 18px;
  }
}

.agency-list {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.agency-list__item {
  background-color: #ffffff;
  width: 100%;
  padding: 40px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  // text-align: start;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 32px) / 3);
  }

  @media screen and (min-width: 1280px) {
    padding: 40px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
  }
}

.agency-list__cafe {
  width: 80px;
  height: 16px;
  background: rgba(240, 209, 165, 1);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.86;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;

  color: var(--secondary-text);

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 73px;
    height: 28px;
    font-size: 16px;

    margin-bottom: 32px;
  }
}

.cafe {
  width: 130px;
  background: rgba(194, 226, 151, 1);

  @media screen and (min-width: 768px) {
    width: 138px;
  }
}

.agency-list__title,
.timetable-list__title {
  font-size: 12px;
  line-height: 1.86;

  color: var(--secondary-accent-text);

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.agency-list__title {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 12px;
  }
}

.agency-list__paragraph,
.contacts-list__link {
  font-size: 12px;
  line-height: 1.5;

  color: var(--primary-text);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.83;
  }
}

.agency-list__paragraph {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.contacts-list {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.contacts-list__link {
  @media screen and (min-width: 768px) {
    line-height: 1.83;
  }
}

.timetable-list {
  border-top: 1px solid rgba(225, 225, 225, 1);
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__time {
    font-size: 12px;
    line-height: 1.86;

    color: var(--accent-text);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
}

.week {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.contacts__btn-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.contacts__btn-item {
  &:first-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}

.btn__loc,
.btn__fran {
  width: 161px;
  min-height: 44px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  transition: background-color $transition-value;
}

.btn__loc {
  @media screen and (min-width: 768px) {
    width: 191px;
  }

  @media screen and (min-width: 1280px) {
    width: 198px;
  }
  background-color: #d41342;
  color: var(--secondary-text);

  &:hover,
  &:focus {
    background-color: var(--primary-bg);
    color: #d41342;
    border-color: var(--secondary-accent);
  }
}

.btn__fran {
  @media screen and (min-width: 768px) {
    width: 174px;
  }

  @media screen and (min-width: 1280px) {
    width: 180px;
  }
  background-color: var(--primary-bg);
  color: var(--primary-accent);
  border-color: var(--secondary-accent);

  &:hover,
  &:focus {
    background-color: var(--primary-accent);
    color: var(--secondary-text);
    border-color: transparent;
  }
}

.btn__svg-wrap {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.btn__contacts-icon {
  fill: currentColor;
}
