.reviews__container {
    padding-top: 80px;
    padding-bottom: 48px;
    padding-left: 0;
    padding-right: 0;

    @media screen and (min-width: 768px) {
        padding-bottom: 80px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.reviews {
    display: flex;
}

.reviews__item {
    align-items: center;
}

.reviews__box {
    position: relative;
    margin-bottom: 34px;
    height: 100%;
    background-color: #FAFAFA;
    padding: 43px 50px 26px 50px;

    @media screen and (min-width: 768px) {
        padding: 20px 6px 36px 6px;
    }

    @media screen and (min-width: 1280px) {
        padding: 47px 105px 39px 107px;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 30px;
        left: 50px;
        width: 54px;
        height: 40px;
        background: url('../images/quotes.svg') 0 0 / 100% no-repeat;

        @media screen and (min-width: 768px) {
            top: 20px;
            left: 6px;
        }

        @media screen and (min-width:1280px) {
            top: 30px;
            left: 105px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(100% + 15px);
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 39px;
        height: 7px;
        background: url(/images/dots.svg) 0 0 / 100% no-repeat;
    }
}

.reviews__text {
    font-size: 12px;
    line-height: 2.55;
    letter-spacing: 0.04em;
    color: var(--secondary-accent-text);

    position: relative;
    
    padding-left: 15px;
    padding-right: 8px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 2,16;
        padding-left: 45px;
        padding-right: 45px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.86;
        padding-left: 35px;
        padding-right: 35px;
    }
    &::after {
        content: "";
        width: 100%;
        height: calc(100% - 30px);
        position: absolute;
        top: 30px;
        left: 0;
        background-image: repeating-linear-gradient(#FAFAFA, #E1E1E1 2px, transparent 1px, transparent 30px);
       
        @media screen and (min-width: 768px) and (max-width:1280px) {
          background-image: repeating-linear-gradient(#FAFAFA, #E1E1E1 2px, transparent 1px, transparent 34px);
    }
        @media screen and (min-width: 1280px) {
            height: 100%;
    }
}
}

.reviews__photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/* Слайдер */
.slick-slider {
    min-width: 0;
}

.slider__item {
    text-align: center;
}

.slick-dotted.slick-slider {
    margin-bottom: 0; 
}

.slick-list {
    overflow: hidden;
    margin-bottom: 34px;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 0px 20px;

    @media (min-width:767px) {
        padding: 0px 74px;
    }

    @media (min-width:1280px) {
        padding: 0px 123px;
    }
}

.slick-dots {
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li button:before {
    font-size: 0;
    text-align: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
    opacity: 1;
    }
     li.slick-active button:before {
        background: url('../images/home.svg') 0 0 / 100% no-repeat
    }
}