// .container {
//     padding-left: 20px;
//     padding-right: 20px;
//     margin-left: auto;
//     margin-right: auto;

//     @media screen and (min-width: 480px) {
//         width: 480px;
//     }
    
//     @media screen and (min-width: 768px) {
//         width: 768px;
//         padding-left: 36px;
//         padding-right: 36px;
//     }
    
//     @media screen and (min-width: 1200px) {
//         width: 1200px;
//         padding-left: 76px;
//         padding-right: 76px;
//     }
// }

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    &__container {
        @media screen and (min-width: 1280px) {
            padding-left: 6px;
            
        }
    }
    &-nav {
        display: flex;
        align-items: center;
        margin-top: 6px;
        
        @media screen and (min-width: 768px) {
            margin-top: 35px;
        }
    }
    
}



.main-menu {
    display: flex;
    align-items: center;
    margin-left: auto;

   
}


.site-nav{
    &__list {
        display: none;
    
        @media screen and (min-width: 1280px) {
            display: flex;
        }
    }

    &__item {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        color: var(--secondary-text);
        &:first-child {
                color: var(--primary-accent);
            }
        @media screen and (min-width: 1280px) {
            &:not(:first-child) {
                margin-left: 35px;
                
                
            }
            
        }
    }
}

.menu-open__btn{
    margin-left: auto;
    border: none;
    background-color: transparent;

    &.is-hidden {
        display: none;
    }
    
    @media screen and (min-width: 1280px) {
        display: none;}
}

.menu-open__icon {fill: var(--primary-accent);}

.buy__btn {

    
    color: var(--primary-accent);
    
    
    & .btn__icon{
        margin-left: 12px;
        fill: var(--primary-accent);
    }

    .main-menu & {
       display: none; 
        @media screen and (min-width: 768px) {
        width: 160px;
        height: 44px;
        margin-left: 30px;
    
    
    
        display: flex;
        align-items: center;
        justify-content: center;
        }

        @media screen and (min-width: 1280px) {
            width: 159px;
            height: 44px;
            margin-left: 110px;
    }  
    @media screen and (max-width: 1280px) {
    &.is-hidden {
        display: none;
    }
}
}
}





   
