.mob-menu {
    position: fixed;
    z-index: 1;
    background-color: #E17992;
    width: 100vw;
    height: 100vh;
    // overflow: auto;
    top: 0;
    right: 0;
    //   padding-top: 48px;
    padding-top: 60px;
    padding-left: 20px;
    @media screen and (min-width: 320px) {
        width: 250px;
    }
    @media screen and (min-width: 768px) {
        width: 254px;
    }

    &.is-hidden {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }

    &__container {
        

        height: 100%;
        display: flex;
        flex-direction: column;
        
    }

    &__list {
        display: block;
    }
}
.menu-close__btn {
    position: absolute;
    top: 23px;
    right: 28px;
    border: 1px solid black;
    background-color: transparent;
    

   
}

.menu-close__icon {
fill: #FFFFFF;
}