:root {
    --primary-accent: #D41443;
    --secondary-accent: #FEA5BB;
    --primary-text: #907E82;
    --secondary-text: #FFFFFF;
    --accent-text: #FFA5BA;
    --secondary-accent-text: #000000;

    --primary-bg: #FFFFFF;
    --secondary-bg: #FFF5F6;
    ;
    --hero-bg: #FFB8CA;
    --card-bg-second: #F0D1A5;
    --card-bg-third: #C2E297;

    --margin: 60px;
}

$transition-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);