:root {
    --primary-accent: #D41443;
    --secondary-accent: #fea5bb;
    --primary-text: #907e82;
    --secondary-text: #ffffff; 
    --accent-text: #ffa5ba;
    --secondary-accent-text: #000000;

    --primary-bg: #ffffff;
    --secondary-bg: #fff5f6;
    --hero-bg: #ffb8ca;
    --card-bg-second: #f0d1a5;
    --card-bg-third: #c2e297;

    --margin: 60px;
}

$transition-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);