:root {
    --primary-accent: #D41443;
    --secondary-accent: rgba(254, 165, 187, 1);
    --primary-text: rgba(144, 126, 130, 1);
    --secondary-text: rgba(255, 255, 255, 1); 
    --accent-text: rgba(255, 165, 186, 1);
    --secondary-accent-text: rgba(0, 0, 0, 1);

    --primary-bg: rgba(255, 255, 255, 1);
    --secondary-bg: rgba(255, 245, 246, 1);
    --hero-bg: rgba(255, 184, 202, 1);
    --card-bg-second: rgba(240, 209, 165, 1);
    --card-bg-third: rgba(194, 226, 151, 1);

    --margin: 60px;
}

$transition-value: 250ms cubic-bezier(0.4, 0, 0.2, 1);