<!-- About (How it's made) -->
<section class="about">
  <div class="container about__container">
    <label class="about__label" for="label">tradition and love</label>
      <h2 class="about__title" id="label">how it's made</h2>
      <a name="how-it-made"></a>
      <picture>
        <source srcset="./images/about-img.png 1x, ./images/about-img-2x.png 2x" media="(min-width: 1200px)"/>
        <source srcset="./images/about-img-tab.png 1x, ./images/about-img-tab-2x.png 2x" media="(min-width: 768px) and (max-width: 1199px)"/>
        <source srcset="./images/about-img-mob.png 1x, ./images/about-img-mob-2x.png 2x" media="(max-width: 767px)"/>                    
        <img src="./images/about-img.png" alt="Cown"/>
      </picture>
      <div class="about__box">
        <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <p>Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__btn btn" data-information-open>Read more
          <svg class="btn__icon" width="20px" height="20px">
            <use href="./images/icons.svg#btn-add"></use>
          </svg>
        </button>
        <div class="backdrop is-hidden" data-information>
          <div class="information">
              <div class="information__box">   
                  <b class="information__text"> Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. </b>
              </div>
          <button data-information-close type="button" class="information__closingbutton">Close</button>
          </div>
      </div>
      </div>
  </div>
</section>
