<section class="contacts" id="contact">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Перечень представительств компании</h2>
    <ul class="agency-list">
      <li class="agency-list__item">
        <span class="agency-list__cafe">CAFE</span>
        <h3 class="agency-list__title">Chicago</h3>
        <p class="agency-list__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="timetable-list">
          <li class="timetable-list__item week">
            <h3 class="timetable-list__title">Monday - Friday</h3>
            <p class="timetable-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable-list__item">
            <h3 class="timetable-list__title">Saturday - Sunday</h3>
            <p class="timetable-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a href="tel:+610383766284" class="contacts-list__link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:noreply@envato.com" class="contacts-list__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="agency-list__item">
        <span class="agency-list__cafe cafe">FOOD TRUCK</span>
        <h3 class="agency-list__title">Los Angeles</h3>
        <p class="agency-list__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="timetable-list">
          <li class="timetable-list__item week">
            <h3 class="timetable-list__title">Monday - Friday</h3>
            <p class="timetable-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable-list__item">
            <h3 class="timetable-list__title">Saturday - Sunday</h3>
            <p class="timetable-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a href="tel:+610383766284" class="contacts-list__link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:noreply@envato.com" class="contacts-list__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="agency-list__item">
        <span class="agency-list__cafe">CAFE</span>
        <h3 class="agency-list__title">New York</h3>
        <p class="agency-list__paragraph">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="timetable-list">
          <li class="timetable-list__item week">
            <h3 class="timetable-list__title">Monday - Friday</h3>
            <p class="timetable-list__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="timetable-list__item">
            <h3 class="timetable-list__title">Saturday - Sunday</h3>
            <p class="timetable-list__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a href="tel:+610383766284" class="contacts-list__link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a href="mailto:noreply@envato.com" class="contacts-list__link">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="contacts__btn-list">
    <li class="contacts__btn-item">
      <button type="button" class="btn btn__loc">
        Our locations
        <div class="btn__svg-wrap">
          <svg class="btn__contacts-icon" width="20px" height="20px">
            <use class="ddd" href="./images/icons.svg#btn-add"></use>
          </svg>
        </div>
      </button>
    </li>
    <li class="contacts__btn-item">
      <button type="button" class="btn btn__fran">
        Franchise
        <div class="btn__svg-wrap">
          <svg class="btn__contacts-icon" width="20px" height="20px">
            <use href="./images/icons.svg#btn-add"></use>
          </svg>
        </div>
      </button>
    </li>
  </ul>
  <div class="ground is-hidden" data-location>
    <div class="location">
      <button type="button" class="location-close-btn" data-location-close>
        <svg class="location-close-icon" width="30" height="30">
          <use href="./images/icons.svg#icon-close-black"></use>
        </svg>
      </button>
      <p class="location__description">Our locations</p>
      <ul class="address-list list">
        <li class="address-list__item">
          <a href="https://goo.gl/maps/r2fg45GTF6jFgzLAA" class="address-list__link link-style"
            >Los Angeles</a
          >
        </li>
        <li class="address-list__item">
          <a href="https://goo.gl/maps/VC61wGBSL4KvR9PRA" class="address-list__link link-style"
            >New York</a
          >
        </li>
        <li class="address-list__item">
          <a href="https://goo.gl/maps/gWKaktZ5dk5vgcjF9" class="address-list__link link-style"
            >Chicago</a
          >
        </li>
      </ul>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27405770525!2d-118.69192047471653!3d34.02016130653294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1619274010453!5m2!1sru!2sua"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>

  <div class="window is-hidden">
    <div class="franchise">
      <h2 class="franchise__title">Franchise</h2>
      <p class="franchise__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quae corrupti ut quia
        temporibus qui asperiores officia reiciendis cumque velit consectetur itaque dolor dolorum
        debitis repellat nemo porro deserunt soluta molestias, quasi ipsam eligendi? Accusamus fugit
        commodi error. Quisquam hic velit in consequatur aliquam fugit cupiditate minus voluptatem
        ea consequuntur perspiciatis quo sed dolores adipisci reiciendis facilis magnam eveniet
        architecto repellendus repudiandae, vel a accusantium?
      </p>
      <label class="franchise-policy" for="franchise-policy__checkbox-form">
        <input
          type="checkbox"
          class="franchise-policy__checkbox-form"
          id="franchise-policy__checkbox-form"
        />
        <span class="franchise-policy__icon"></span>
        <span class="franchise-policy__text">
          I agree to recieve messages and accept
          <a href="#" class="franchise-policy__treaty">Terms of service</a></span
        >
      </label>
      <button class="franchise__close-btn">Send</button>
    </div>
  </div>
</section>
