<section class="reviews">
  <div class="reviews__container container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="slider">
      <div class="slider__item">
        <img
          class="reviews__photo"
          srcset="./images/customer-img1.png 1x, ./images/customer-img1-2x.png 2x"
          src="./images/customer-img1.png"
          alt="client1"
        />

        <div class="reviews__box">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <p class="reviews__client">Emily, Los Angeles</p>
      </div>
      <div class="slider__item">
        <img
          class="reviews__photo"
          srcset="./images/customer-img2.png 1x, ./images/customer-img2-2x.png 2x"
          src="./images/customer-img2.png"
          alt="client2"
        />
        <div class="reviews__box">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__client">Jennifer, Chicago</p>
      </div>
      <div class="slider__item">
        <img
          class="reviews__photo"
          srcset="./images/customer-img3.png 1x, ./images/customer-img3-2x.png 2x"
          src="./images/customer-img3.png"
          alt="client3"
        />

        <div class="reviews__box">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__client">Emily, New York</p>
      </div>
    </div>
  </div>
</section>
