<section class="gallery gallery--margin-auto">
  <div class="gallery__container--padding container">
    <h2 class="visually-hidden">Gallery</h2>
    <a href="">
      <picture>
        <source
          srcset="./images/gallery.jpg 1x, ./images/gallery-2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/gallery-tab.jpg 1x, ./images/gallery-tab-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/gallery-mob.jpg 1x, ./images/gallery-mob-2x.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="./images/gallery.jpg" alt="Gallery" class="gallery--margin-auto" />
      </picture>
    </a>
  </div>
</section>
