<header class="header">
    <div class="container">
        
        <nav class="header-nav">
            <a href="/" class="logo"><img src="/src/images/logo 1.jpg" alt="логотип"></a>
            <div class="main-menu">
                <ul class="list site-nav__list">
                    <li class="site-nav__item"><a href="#home">Home</a></li>
                    <li class="site-nav__item"><a href="#about">About us</a></li>
                    <li class="site-nav__item"><a href="#how-it-made">How it’s made?</a></li>
                    <li class="site-nav__item"><a href="#products">Our products</a></li>
                    <li class="site-nav__item"><a href="#contact">Contact</a></li>
                </ul>
                <button type="button" class="btn"></button>
            </div>
        </nav>
    </div>

</header>