<header class="header">
    <div class="container header__container" id="home">
        <nav class="header-nav">
            <a href="/" class="logo"><picture>
                <source srcset="
                ./images/logo.png 1x, 
                ./images/logo-2x.png 2x" media="(min-width: 1280px)" />
                <source srcset="
                ./images/logo.png 1x, 
                ./images/logo-2x.png 2x" media="(min-width: 768px)" />
                <source srcset="
                ./images/logo.png 1x, 
                ./images/logo-2x.png 2x" media="(max-width: 767px)" />
                <img src="./images/logo.png" class="logo-pic" alt="Логотип" width="199" />
            </picture></a>            
            <div class="main-menu">
                <ul class="list site-nav__list">
                    <li class="site-nav__item"><a href="#home" class="link site-nav__link">Home</a></li>
                    <li class="site-nav__item"><a href="#about" class="link site-nav__link">About us</a></li>
                    <li class="site-nav__item"><a href="#made" class="link site-nav__link">How it’s made?</a></li>
                    <li class="site-nav__item"><a href="#products" class="link site-nav__link">Our products</a></li>
                    <li class="site-nav__item"><a href="#contact" class="link site-nav__link">Contact</a></li>
                </ul>                
                <button type="button" class="menu-open__btn" id="burger-btn">
                    <svg class="menu-open__icon" width="20" height="12">
                        <use class="icon__open" href="/images/icons.svg#menu"></use>

                    </svg>
                </button>
                <button data-modal-open type="button" class="btn buy__btn" id="main-modal">Buy now
                    <svg class="btn__icon" width="20px" height="20px">
                        <use href="./images/icons.svg#btn-add"></use>
                    </svg>
                </button>                    
            </div>
        </nav>
    </div>
    <div class="mob-menu is-hidden">
        <div class="mob-menu__container">
            <button type="button" class="menu-close__btn">
                <svg class="menu-close__icon" width="14" height="14">
                    <use class="icon__close" href="./images/icons.svg#close"></use>
                </svg>
            </button>
            <button type="button" class="btn buy__btn" data-modal-open2>Buy now
                <svg class="btn__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#btn-add"></use>
                </svg>
            </button>
            <ul class="list site-nav__list mob-menu__list">
                <li class="site-nav__item mob-menu__item"><a href="#home" class="link site-nav__link mob-menu__link">Home</a></li>
                <li class="site-nav__item mob-menu__item"><a href="#about" class="link site-nav__link mob-menu__link">About us</a></li>
                <li class="site-nav__item mob-menu__item"><a href="#made" class="link site-nav__link mob-menu__link">How it’s made?</a></li>
                <li class="site-nav__item mob-menu__item"><a href="#products" class="link site-nav__link mob-menu__link">Our products</a></li>
                <li class="site-nav__item mob-menu__item"><a href="#contact" class="link site-nav__link mob-menu__link">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="back is-hidden" data-modal>
        <div class="modal">
            <button data-modal-close type="button" class="modal__closingbutton">
                <svg class="modal__icon" width="30" height="30">
                    <use href="/images/icons.svg#icon-close-black"></use>
                </svg>
        </button>
        <b class="modal__tittle">Leave your details, we'll call you back</b>
        
            <form class="modal-form">
                <div class="modal-form__wrapper">
                    
                    <label class="modal-form__label" for="name">
                        <span class="modal-form__text">First Name</span>
                        <input class="modal-form__input" type="text" name="name" autocomplete="off" id="name" />
                        <svg class="modal-form__icon" width="18" height="18">
                            <use href="/images/icons.svg#icon-person-black"></use>
                        </svg>
                    </label>
        
                    <label class="modal-form__label" for="lastname">
                        <span class="modal-form__text">Last Name</span>
                        <input class="modal-form__input" type="text" name="lastname" autocomplete="off" id="lastname" />
                        <svg class="modal-form__icon" width="18" height="18">
                            <use href="/images/icons.svg#icon-person-black"></use>
                        </svg>
                    </label>
        
                    <label class="modal-form__label" for="tel">
                        <span class="modal-form__text">Phone number</span>
                        <input class="modal-form__input" type="tel" name="tel" autocomplete="off" id="tel" />
                        <svg class="modal-form__icon" width="18" height="18">
                            <use href="/images/icons.svg#icon-phone-black"></use>
                        </svg>
                    </label>
        
                    <label class="modal-form__label" for="mail">
                        <span class="modal-form__text">E-mail</span>                  
                        <input class="modal-form__input" name="mail" autocomplete="off" id="mail" />
                        <svg class="modal-form__icon" width="18" height="18">
                            <use href="/images/icons.svg#icon-email-black"></use>
                        </svg>
        
                    </label>
                        <label class="modal-form__label">
                        <span class="modal-form__text">Message</span>
                        <textarea
                        class="modal-form__commenting-field" 
                        rows="6"
                        placeholder="Enter your message"
                        ></textarea>
                    </label>
                </div>
        
                        <label class="modal-policy" for="modal-policy__checkbox-form">
                            <input type="checkbox" class="modal-policy__checkbox-form" id="modal-policy__checkbox-form">
                            <span class="modal-policy__icon"></span>
                            <span class="modal-policy__text">
                            I agree to recieve messages and accept 
                            <a href="#" class="modal-policy__treaty">Terms of service</a></span>
                    </label>            
        <button type="submit" class="modal__button">Send</button>
            </form>
        </div>
        </div>
        </div>
</header>