<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Ice cream made with <span class="hero__title--accent">passion</span></h1>
    <ul class="hero__list list">
      <li class="hero__item hero__item-cafes"><span class="hero__number">16</span>cafes</li>
      <li class="hero__item hero__item-food"><span class="hero__number">23</span>food trucks</li>
    </ul>
    <ul class="hero__btn-list list">
      <li class="hero__btn-item"><a href="#products" class="hero__link link hero__link--accent">Products</a></li>
      <li class="hero__btn-item"><a href="#made" class="hero__link link">How it's made?</a></li>
    </ul>
    <picture>
      <source srcset="./images/hero-img1.png 213w, 
          ./images/hero-img1-2x.png 426w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 213px"
        type="image/png">
      <source srcset="./images/hero-img1-tab.png 152w, 
          ./images/hero-img1-tab-2x.png 304w" media="(min-width: 768px)" sizes="(min-width: 768px) 152px"
        type="image/png">
      <img src="./images/hero-img1-tab.png" alt="Jug of milk" class="hero__img--left" />
    </picture>
    <div class="hero__text-wrap">
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
    <details class="hero__details">
      <summary class="hero__summary"><img src="./images/arrow.png" alt="arrow" class="hero__arrow"/></summary>
  <p class="hero__summary-text">Lick me ;)</p>
</details>
</div>
    <picture>
      <source srcset="./images/hero-img2.png 236w, 
          ./images/hero-img2-2x.png 472w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 236px"
        type="image/png">
      <source srcset="./images/hero-img2-tab.png 143w, 
          ./images/hero-img2-tab-2x.png 286w" media="(min-width: 768px)" sizes="(min-width: 768px) 143px"
        type="image/png">
      <source srcset="./images/hero-img2-mob.png 171w, 
          ./images/hero-img2-mob-2x.png 342w" media="(max-width: 767px)" sizes="(min-width: 320px) 171px, 50vw"
        type="image/png">
      <img src="./images/hero-img2-mob.png" alt="Ice cream cone" class="hero__img--main" />
    </picture>
    <picture>
      <source srcset="./images/hero-img3.png 304w, 
          ./images/hero-img3-2x.png 608w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 304px"
        type="image/png">
      <source srcset="./images/hero-img3-tab.png 190w, 
          ./images/hero-img3-tab-2x.png 380w" media="(min-width: 768px)" sizes="(min-width: 768px) 190px"
        type="image/png">
      <img src="./images/hero-img3-tab.png" alt="Girl eats ice cream" class="hero__img--right" />
    </picture>
  </div>
</section>
</div>
</body>
